/*
Theme Name: BARAKONI
Theme URI: https://gitlab.com/vtxWP/barakoni
Author: hyperclock
Author URI: http://voyatrax.eu/
Description: Theme for creating a WP Theme. I am utilizing Bootstrap to realize this project. I believe this to be a little larger than HTML5, but...  Read the documentatin for more info. - This theme is licensed under the MIT License.
Version: 0.0.1
License: MIT
License URI: https://gitlab.com/vtxWP/barakoni/blob/master/LICENSE
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: barakoni

This theme is licensed under the MIT License.
*/


/*!
 * Start Bootstrap - Blog Home (http://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
